@font-face {
  font-family: mainFont;
  src: url(../media/font/EarlyGameBoy.ttf);
}

* {
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body {
  background-image: url(../media/images/backgroundImage.png);
  font-family: mainFont;
}

.returnBTN {
  position: absolute;
  left:16.5%;
  top:16.5%;
  width:5VW;
  height:5vw;
  background-color: #b05c5c;
  box-shadow: 0 0 20px #691818 inset, 0px 0px 10px rgb(108, 49, 49);
  border-radius: 100%;
  text-align: center;
  align-content: center;
  padding-top:0.8%;
}

.mainDisplayArea {
  background-color: #e2dfb1;
  width: 70vw;
  height: 80vh;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.1%;
  padding-bottom: 1%;
  overflow-y: scroll;
  box-shadow: 0 0 20px #5f6125 inset, 0px 0px 2px black;
  scrollbar-width: none;
  border: solid #424242;
  border-width: 30px 100px 30px 150px;
  border-radius: 10px 10px 100px 10px;
}

.navBarArea {
  width:70vw;
  height:5vw;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  text-align: center;
  align-content: center;
}

.NAVBTN1,
.NAVBTN2,
.NAVBTN3 {
  background-color: #d6d6d6;
  color: #180e40;
  font-size: 100%;
  width:15vw;
  height:auto;
  margin-top:1%;
  margin-left:1%;
  margin-left:2%;
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  box-shadow: 0px -1px 1px black inset, 0px 1px 3px black;
}

.NAVBTN1:hover,
.NAVBTN2:hover,
.NAVBTN3:hover {
  background-color: #c6c6c6;
}

.NAVBTN1:active,
.NAVBTN2:active,
.NAVBTN3:active {
  background-color: #535353;
  box-shadow: 0px 0px 5px black inset, 0px 0px 5px black;
}

.logoArea {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.title {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.readings {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  overflow: hidden;
  margin-top:10%;
  font-size: 2.5em;
  color:#26500e;
  filter: drop-shadow(2px 2px 5px #5f6125) blur(1px);
}

.readingsLink1,
.readingsLink2,
.readingsLink3,
.readingsLink4,
.readingsLink5 {
  border-radius: 10px;
  border-style: dashed;
  border-width: 5px;
  width:25%;
  height:10%;
  display: inline-block;
  margin:3%;
  padding-top:1%;
}

.exercises {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  overflow: hidden;
  margin-top:25%;
  font-size: 2.5em;
  color:#26500e;
  filter: drop-shadow(2px 2px 5px #5f6125) blur(1px);
}

.exercisesLink1,
.exercisesLink2,
.exercisesLink3,
.exercisesLink4,
.exercisesLink5,
.exercisesLink6 {
  border-radius: 10px;
  border-style: dashed;
  border-width: 5px;
  width:25%;
  height:10%;
  display: inline-block;
  margin:3%;
  padding-top:1%;
}

.projects {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  overflow: hidden;
  margin-top:25%;
  margin-bottom:20%;
  font-size: 2.5em;
  color:#26500e;
  filter: drop-shadow(2px 2px 5px #5f6125) blur(1px);
}

.projectsProposalLink,
.projectsFinalLink {
  border-radius: 10px;
  border-style: dashed;
  border-width: 5px;
  width:25%;
  height:10%;
  display: inline-block;
  margin:3%;
  padding-top:1%;
}

#mainLogo {
  margin: auto;
  width: 66%;
  max-width: 276px;
  height: auto;
  max-height: 360px;
  image-rendering: pixelated;
  filter: drop-shadow(2px 2px 5px #5f6125) blur(1px);
}

#signature {
  margin:auto;
  width:66%;
  max-width:604px;
  height:auto;
  max-height:410px;
  image-rendering: pixelated;
  filter: drop-shadow(2px 2px 5px #5f6125) blur(1px);
}

#readingLinkIMG1,
#readingLinkIMG2,
#readingLinkIMG3,
#readingLinkIMG4,
#readingLinkIMG5 {
  image-rendering: pixelated;
  width:75%;
  height:auto;
  margin:1%;
}

#exercisesLinkIMG1,
#exercisesLinkIMG2,
#exercisesLinkIMG3,
#exercisesLinkIMG4,
#exercisesLinkIMG5,
#exercisesLinkIMG6 {
  image-rendering: pixelated;
  width:75%;
  height:auto;
  margin:1%;
}

#projectsProposalLinkIMG,
#projectsFinalLinkIMG { 
  image-rendering: pixelated;
  width:75%;
  height:auto;
  margin:1%;
}

#returnArrowIMG {
  width:65%;
  height:auto;
  margin:1%;
  image-rendering: pixelated;
  -webkit-animation: blink-1 5s ease-in-out infinite both;
  animation: blink-1 7.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-23 1:12:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.75;
  }
  25%,
  75% {
    opacity: 0.25;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.75;
  }
  25%,
  75% {
    opacity: 0.25;
  }
}
